@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
    text-decoration: none;
}

h1{
    text-align: center;
    margin-top: 2.45rem;
    font-size: 2.8rem;
    text-shadow: 5px 5px 4px #ccc;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 300px;
    min-height: 50vh;
    width: 90%;
    margin: auto;
    margin-top: 4rem;
}
.main img{
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    height: 300px;
    cursor: pointer;
    transition: 1s linear;
    box-shadow: 12px 12px 20px #000;

}
.main img:hover{
    flex: 5;
    height: 400px;
}
footer{
    height: 50px;
    line-height: 50px;
    margin-top: 5rem;
    text-align: center;
    background-color: #2E3840;
    color: white;
    font-size: 1.5rem;
    
}
footer a{
    color: #E7B10A;
}


